/* Material list */
#itens{
	height: 100%;
	overflow: auto;
}

#itens main{
	margin: 0 var(--size-m);
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.item{
	width: var(--item-width);
	height: var(--item-height);
	display: grid;
	margin: var(--size-m);
	text-decoration: none;
}

.item .title{
	margin: var(--size-xs) 0;
	align-self: end;
}

#item-details-content{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: 'metadata metadata' 'image content';
	grid-template-rows: calc(var(--size-s) * 5) 1fr;
	grid-template-columns: minmax(5rem, auto) minmax(min-content, max-content);
	grid-gap: var(--size-xs);
}

#item-details-content .metadata{
	grid-area: metadata;
	-webkit-columns: 2 calc(var(--size-s) * 10);
	-webkit-column-gap: var(--size-m);
	column-gap: var(--size-m);
	columns: 2 calc(var(--size-s) * 10);
	font-size: var(--size-s);
}

#item-details-content .metadata > *{
	display: block;
}

#item-details-content .publisher img{
	height: var(--size-s);
	padding: 0 var(--size-us);
	display: inline-block;
	vertical-align: middle;
}

#item-details-content .image{
	grid-area: image;
	text-align: center;
}

#item-details-content .content{
	grid-area: content;
	overflow: auto;
}

#item-details-content .notes{
	color: var(--highlight-color);
	border: currentColor thin dotted;
	padding: var(--size-m);
	margin: var(--size-xxs) 0;
}

#item-details-content .notes::before{
	content: '⚠';
	font-size: var(--size-l);
}
@media (max-width: 700px) and (orientation: portrait){
	#item-details-content{
		grid-template-areas: 'metadata' 'image' 'content';
		grid-template-columns: 1fr;
		grid-template-rows: calc(var(--size-s) * 5) minmax(12rem, auto) minmax(12rem, max-content);
	}
}

@media (max-height: 400px) and (orientation: landscape){
	.item{
		height: calc(var(--item-height) * .75);
		width: calc(var(--item-width) * .75);
	}
}