/* TODO: explore colors and theme
https://refactoringui.com/previews/building-your-color-palette/

https://color.adobe.com/explore/?q=cyberpunk
https://www.colourlovers.com/palettes/search?query=cyberpunk
https://coolors.co/browser/latest/1
*/
/* Variables */
:root {
	--body-text: 18px;
	--size-m: 1rem;

	--size-s: 0.8rem;
	--size-xs: 0.64rem;
	--size-xxs: 0.512rem;
	--size-xxxs: 0.4096rem;
	--size-us: 0.32768rem;

	--size-l: 1.25rem;
	--size-xl: 1.5625rem;
	--size-xxl: 1.953125rem;
	--size-xxxl: 2.44140625rem;
	--size-ul: 3.0517578125rem;

	--dialog-margin: 0;

	--searchbar-width: 12rem;

	--item-width: 15rem;
	--item-height: 20rem;

	--background-color: #3c3c3c;
	--background-accent: #616161;

	--main-color: #FFC107;
	--highlight-color: #FF5722;
	--highlight-shadow-color: #BF360C;
	--link-color: #FF6F00;
	--link-visited-color: #FF5722;
}