@layer views {
	main-view {
		display: contents;

		h1 { margin: 0; }

		main {
			margin-top: var(--topbar-height);
			margin-left: var(--inset-left);
			margin-right: var(--inset-right);
			margin-bottom: var(--inset-bottom);

			padding: var(--size-2);
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
