:host {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: inherit;

	flex-grow: 1;

	app-region: inherit;
	-webkit-app-region: inherit;
}

label {
	box-sizing: inherit;
	display: flex;
	align-items: center;
	margin: 0 var(--searchbox-margin);
	width: var(--searchbox-width);
	max-width: 20rem;
}

input[type='search'] {
	flex-grow: 1;
	width: 100%;
	height: 2rem;

	padding: 0.3rem 0.5rem;

	appearance: none;
	background: var(--bg-color);
	outline: none;
	border: solid var(--border-width) var(--bg-color);
	border-radius: 0.3rem;

	transition: 0.2s ease all;

	font: inherit;

	app-region: no-drag;
	-webkit-app-region: no-drag;
}

input[type='search']::-webkit-search-cancel-button { display: none; }

input:focus {
	outline: none;
	border-color: var(--border-color);
	border-bottom-color: var(--theme-color);
}

input::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}
