:host {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	--hover-color: var(--secondary-color);
	--hover-background: var(--theme-color);

	user-select: none;
}

#content, #overlay {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
}

#overlay:not([hidden]) {
	border: dotted var(--border-width) var(--border-color, transparent);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;

	background: radial-gradient(var(--background, rgba(0, 0, 0, 0.5)), transparent);
	color: var(--text-color, currentcolor);

	z-index: 1;
}

.drop {
	--border-color: var(--hover-color);
	--background: var(--hover-background);
}
