<template>
	<sdr-menu-bar>
		<sdr-button
			icon-button
			:visibility="previousPageVisibility"
			@click="showPreviousPage"
		>⏮️</sdr-button>
		<select
			id="toc"
			@change="tocSelect"
		></select>
		<sdr-button
			icon-button
			:visibility="nextPageVisibility"
			@click="showNextPage"
		>⏭️</sdr-button>
	</sdr-menu-bar>
	<article id="comic">
	</article>
	<div id="comic-book-overlay">
		<sdr-button
			icon-button
			id="open-comic"
			@click="openComic"
		>▶️</sdr-button>
	</div>
</template>
