::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	border-radius: 100vmax;
	background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 100vmax;
	background-color: var(--theme-color);
}

:host {
	display: flex;
	box-sizing: inherit;

	scrollbar-width: thin;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
}

dialog[open] {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: auto;
	width: var(--dialog-width);
	height: var(--dialog-height);
	border: none;
	border-radius: 0.5rem;
	background: var(--bg-color);
	box-sizing: border-box;
	max-width: initial;
	max-height: initial;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	height: 3rem;

	background: var(--accent-color);
	color: var(--theme-color);
}

dialog header ::slotted(*) {
	flex-grow: 1;
	margin-inline-end: 0.5rem;
}

dialog footer:not([hidden]) {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.5rem 1rem;
	height: 3rem;

	background: var(--bg-color);
}

dialog article {
	padding: 1rem;
	flex-grow: 1;
	overflow: auto;
}

dialog button {
	background: transparent;
	border: medium transparent solid;
	border-radius: 0.3rem;
	width: var(--button-size);
	height: var(--button-size);
	padding: 0;

	transition: 0.2s ease all;

	font: inherit;
}

dialog button:focus {
	border-color: var(--theme-color);
	outline: none;
}

dialog button:active {
	background: var(--secondary-color);
}

dialog button:hover {
	border-color: var(--accent-color);
}
