::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}

:host {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: column;
	box-sizing: inherit;
	width: 100%;
}

summary {
	font-size: var(--small-text);
	display: block;
	width: fit-content;
	padding: var(--padding-small) var(--padding-inline);
	margin-inline-start: var(--label-recess);

	border-radius: var(--pill-border-radius);

	background: var(--border-color);
	color: var(--text-color);

	z-index: 1;
	transform: translateY(calc((var(--small-text) + (var(--padding-small) * 2)) * -1));
	transition: var(--transition);

	position: absolute;

	user-select: none;
}

details {
	width: 100%;
	padding: calc(var(--small-text) / 2) 0 0;
	margin: calc(var(--small-text) + (var(--padding-small) * 2) + var(--border-width)) 0 0;

	appearance: none;
	border: solid var(--border-width) var(--border-color);
	background: transparent;
	border-radius: var(--border-radius);

	transition: var(--transition);

	font: inherit;
	box-sizing: border-box;

	position: relative;
}

details #items-container {
	min-height: var(--list-item-size);
	height: max-content;
	max-height: calc(var(--list-item-size) * 3);
	max-width: calc(var(--list-item-size) * 5);
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;

	scrollbar-width: thin;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
}

details #items-container::-webkit-scrollbar {
	width: var(--scrollbar-size);
}

details #items-container::-webkit-scrollbar-track {
	border-radius: var(--pill-border-radius);
	background-color: var(--scrollbar-bg);
}

details #items-container::-webkit-scrollbar-thumb {
	border-radius: var(--pill-border-radius);
	background-color: var(--theme-color);
}

summary::before {
	content: '▷';
	display: inline-block;
	transition: inherit;
}

details[open] summary::before {
	transform: rotate(90deg);
}

:host(:not([disabled])) #input-container {
	background: var(--border-color);
	display: flex;
	align-items: center;

	padding: calc((var(--small-text) / 2) + var(--padding-block)) var(--padding-inline) var(--padding-block);
	margin-block-start: calc((var(--margin-block) + var(--border-width)) * -1);
	margin-block-end: var(--margin-block);
	margin-inline: 0;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}
