::-webkit-scrollbar {
	width: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
	border-radius: var(--pill-border-radius);
	background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: var(--pill-border-radius);
	background-color: var(--theme-color);
}

::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}

:host([disabled]) #cancel-button { display: none; }
:host([disabled]) #save-button { display: none; }
:host(:not([disabled])) #edit-button { display: none; }
:host(:not([disabled])) #export-button { display: none; }

#item-content {
	display: grid;
	grid-template-columns: clamp(10rem, 40%, 20rem) 1fr;
	grid-template-rows: 100%;
	grid-gap: 0.5rem;
	grid-template-areas: 'image tabs';

	align-items: start;
	align-content: start;
	justify-content: center;

	height: 100%;
	box-sizing: inherit;
	overflow: auto;

	scrollbar-width: thin;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
}

#name {
	--border-color: transparent;
	--theme-color: var(--accent-color);
}

#cover-drop-area {
	grid-area: image;
	width: 100%;
	height: 100%;
}

#cover-drop-area figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

#cover-drop-area figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: var(--border-radius);
}
