:host {
	--icon-size: 1.5rem;
	inset-block-start: -0.5rem;
	inset-inline-end: -0.5rem;
	position: absolute;
}

#icon {
	display: inline-block;
	height: var(--icon-size);
	width: var(--icon-size);
}

#icon[hidden] { display: none; }

#icon img {
	height: 100%;
	object-fit: contain;
	object-position: center;
	width: 100%;
}
