:host {
	align-items: center;
	background-color: var(--bg-color);
	border: solid var(--border-width) var(--border-color);
	border-radius: var(--border-radius);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	margin: var(--margin-block);
	text-align: center;
	transition: var(--transition);
	user-select: none;
	width: var(--radio-size);
}

#radio-icon { font-size: var(--radio-icon-size); }

h4 { margin-bottom: 0; }
