:host {
	position: relative;
	display: flex;
	box-sizing: inherit;
}

dialog {
	position: absolute;
	left: 0;
	right: auto;
	top: var(--dropdown-top);

	margin: 0;
	padding: var(--padding-inline);
	display: flex;
	flex-direction: column;

	width: max-content;
	max-width: var(--dropdown-width);
	height: min-content;
	max-height: var(--dropdown-height);

	border: solid var(--border-width) var(--border-color);
	border-radius: var(--border-radius);
	background: var(--bg-color);

	overflow: auto;

	scrollbar-width: thin;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);

	transform: scaleY(0);
	transform-origin: center top;
	opacity: 0;
	transition: var(--transition);
}

dialog[open] {
	transform: scaleY(100%);
	opacity: 1;
}

dialog::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

dialog::-webkit-scrollbar-track {
	border-radius: var(--pill-border-radius);
	background-color: var(--scrollbar-bg);
}

dialog::-webkit-scrollbar-thumb {
	border-radius: var(--pill-border-radius);
	background-color: var(--theme-color);
}

:host([align-right]) dialog {
	left: auto;
	right: 0;
}

dialog.right {
	left: auto;
	right: 0;
}
