:host {
	position: relative;
	display: flex;
	box-sizing: inherit;
}

button {
	background: transparent;
	border: solid var(--border-width) transparent;
	border-radius: 0.3rem;
	width: var(--button-size);
	height: var(--button-size);
	padding: 0;

	transition: 0.2s ease all;

	font: inherit;
}

button:focus {
	border-color: var(--theme-color);
	outline: none;
}

button:active {
	background: var(--secondary-color);
}

button:hover {
	border-color: var(--accent-color);
}

dialog[open] {
	position: absolute;
	left: 0;
	right: auto;
	top: 2rem;

	margin: 0;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;

	width: max-content;
	max-width: 15rem;
	height: min-content;
	max-height: 80vh;

	border: solid var(--border-width) var(--theme-color);
	border-radius: 0.5rem;
	background: var(--bg-color);

	overflow: auto;

	scrollbar-width: thin;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
}

dialog::-webkit-scrollbar {
	width: 0.5rem;
}

dialog::-webkit-scrollbar-track {
	border-radius: 100vmax;
	background-color: var(--scrollbar-bg);
}

dialog::-webkit-scrollbar-thumb {
	border-radius: 100vmax;
	background-color: var(--theme-color);
}

dialog.right {
	left: auto;
	right: 0;
}
