::-webkit-scrollbar {
	width: 0.2rem;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 100vmax;

	transition: 0.2s ease all;
}

::-webkit-scrollbar-thumb {
	border-radius: 100vmax;
	background: var(--theme-color);
	width: 0.5rem;
}

#container {
	display: grid;
	grid-template-columns: clamp(10rem, 40%, 20rem) 1fr;
	grid-template-rows: repeat(4, min-content);
	grid-gap: 0.5rem;
	grid-template-areas:
		'image header'
		'image main'
		'meta main'
		'files main';

	align-items: start;
	align-content: start;
	justify-content: center;

	height: 100%;
	box-sizing: inherit;
	overflow: overlay;
}

header {
	grid-area: header;
	display: grid;
	grid-gap: 0.1rem;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(4, minmax(min-content, 1fr));
	grid-template-areas:
		'sku sku sku edition'
		'category type language language'
		'release release release .';
}

header #sku { grid-area: sku; }
header #edition { grid-area: edition; }
header #category { grid-area: category; }
header #type { grid-area: type; }
header #language { grid-area: language; }
header #releasedate { grid-area: release; }

drop-area {
	grid-area: image;
	width: 100%;
	height: 100%;
}

drop-area figure {
	margin: 0;
	padding: 0;
}

drop-area figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 0.5rem;
}

#meta {
	grid-area: meta;
	display: grid;
	grid-gap: 0.1rem;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'gamedate gamedate status'
		'names names names'
		'pub pub pub';
}

#meta #publisher { grid-area: pub; }
#meta #names { grid-area: names; }
#meta #gamedate { grid-area: gamedate; }

#meta #publisher abbr { text-decoration: none; }

#meta #publisher img {
	height: 1.5rem;
	max-width: 3rem;
	object-fit: contain;
}

article {
	grid-area: main;
	display: flex;
	flex-direction: column;
}

article #description { flex-grow: 1; }

#files { grid-area: files; }

input, select {
	padding: 0.5rem 0.5rem 0.3rem;
	width: 100%;
	margin: 0 0.1rem;

	appearance: none;
	border: solid var(--border-width) transparent;
	border-radius: 0.3rem;

	background-color: var(--bg-color);
	background-repeat: no-repeat;
	background-position: calc(100% - 0.1rem) center;
	background-size: 1.5rem;

	transition: 0.2s ease all;

	font: inherit;
	box-sizing: border-box;
}

input::placeholder {
	color: var(--text-color);
	opacity: 0.7;
}

select {
	background-image: var(--select-arrow);
}

input:focus, select:focus {
	outline: none;
	border-color: var(--theme-color);
}

button {
	background: transparent;
	border: solid var(--border-width) transparent;
	border-radius: 0.3rem;
	width: fit-content;
	height: var(--button-size);
	padding: 0;

	transition: 0.2s ease all;

	font: inherit;
}

button:focus {
	border-color: var(--theme-color);
	outline: none;
}

button:active {
	background: var(--secondary-color);
}

@media (max-width: 450px) {
	#container {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'image header'
			'main main'
			'meta meta'
			'files files';
	}
	header {
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			'sku sku sku edition'
			'category category type type'
			'language language language language'
			'release release release release';
	}
	#meta {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'gamedate status'
			'names pub';
	}
	#description {
		height: 20rem;
	}
}

@media (max-width: 350px) {
	#container {
		grid-template-columns: 1fr;
		grid-gap: 0.5rem;
		grid-template-areas:
			'image'
			'header'
			'main'
			'meta'
			'files';
	}
	#meta {
		grid-template-rows: repeat(4, auto);
		grid-template-columns: 1fr;
		grid-template-areas:
			'gamedate'
			'status'
			'names'
			'pub';
	}
	#description {
		height: 20rem;
	}
}
