#radio-container {
	display: flex;
	justify-content: center;
}

label { position: relative; }

sdr-gamepad-badge { display: none; }

input {
	height: 1px;
	position: absolute;
	transform: scale(0);
	width: 1px;
}

input:focus { outline: none; }

input:focus ~ sdr-radio-item { border-color: var(--theme-color); }

input:checked ~ sdr-radio-item { background-color: var(--theme-color); }

input:checked ~ sdr-gamepad-badge { display: block; }

input:hover ~ sdr-radio-item { background: var(--accent-color); }
