:host {
	align-items: center;
	background: var(--bg-color);
	border: solid var(--size-1) var(--border-color);
	border-radius: var(--radius-3);
	box-sizing: inherit;
	display: flex;
	justify-content: space-between;
	margin: var(--size-1) var(--size-2);
	max-height: var(--size-8);
	padding: var(--size-1) var(--size-2);
	width: fit-content;
}

:host([stretch]) { width: 100%; }

:host([disabled]) {
	background: var(--border-color);
	border-color: var(--theme-color);
}

:host(:not([disabled])) #remove-button { display: block; }
:host([disabled]) #remove-button { display: none; }

:host:hover { background: var(--accent-color); }

::slotted(abbr) { text-decoration: none; }
