:host {
	background-color: var(--bg-color);

	border: solid var(--border-width) var(--border-color);
	border-radius: var(--border-radius);

	cursor: pointer;
	user-select: none;

	display: inline-grid;
	grid-template-columns: 14rem;
	grid-template-rows: 18rem 5rem;
	justify-items: center;
	align-items: start;
	margin: 0.5rem;

	width: 14rem;
	height: 23rem;

	overflow: hidden;
	contain: strict;
	content-visibility: auto;
	z-index: auto;
}

:host([data-status]) figure::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

:host([data-status='missing']) figure::after {
	backdrop-filter: grayscale(0.6) brightness(50%) contrast(120%);
	background-image: url('../../../img/covers/missing.svg');
	mix-blend-mode: overlay;
}

:host([data-status='outofscope']) figure::after {
	backdrop-filter: sepia(1) brightness(70%) contrast(110%) blur(2px);
	background-image: url('../../../img/covers/outofscope.svg');
	mix-blend-mode: multiply;
}

:host([data-status='canceled']) figure::after {
	backdrop-filter: grayscale(1) brightness(50%) contrast(80%) blur(2px);
	background-image: url('../../../img/covers/canceled.svg');
	mix-blend-mode: soft-light;
}

figure {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	box-sizing: border-box;
}

img {
	height: calc(100% - 1rem);
	width: auto;
	max-width: calc(100% - 1rem);
	max-height: calc(100% - 1rem);
	object-fit: contain;
	border-radius: calc(var(--border-radius) * 2);
	box-sizing: border-box;
	margin: 0.5rem;
	overflow: hidden;
}

h4 {
	align-self: center;
	padding: 0.2rem 0.5rem;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
