:host {
	display: block;
}

dialog[open] {
	padding: 0;
	width: clamp(6rem, calc(var(--dialog-width) / 2), 60vmin);
	height: clamp(6rem, calc(var(--dialog-height) / 2), 60vmin);
	border: none;
	border-radius: var(--dialog-border-radius);
	background: var(--bg-color);
	accent-color: var(--theme-color);

	pointer-events: none;
	user-select: none;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(0.3rem);
}

h1 {
	color: var(--theme-color);
}
