:host { display: block; }

dialog[open] {
	accent-color: var(--theme-color);
	align-items: center;
	background: var(--bg-color);
	border: none;
	border-radius: var(--dialog-border-radius);
	display: flex;
	flex-direction: column;
	height: clamp(6rem, calc(var(--dialog-height) / 2), 60vmin);
	justify-content: center;
	padding: 0;
	pointer-events: none;
	user-select: none;
	width: clamp(6rem, calc(var(--dialog-width) / 2), 60vmin);
}

dialog::backdrop {
	backdrop-filter: blur(0.3rem);
	background: rgba(0, 0, 0, 0.7);
}

h1 { color: var(--theme-color); }

p { margin-block-end: 0; }

p + p {
	font-size: xx-small;
	margin-block-start: var(--margin-block);
}
