:host {
	app-region: drag;
	-webkit-app-region: drag;
	background-color: var(--theme-color);
	box-shadow: var(--shadow-5);
	box-sizing: border-box;
	display: block;
	height: var(--menubar-height);
	position: absolute;
	top: var(--menubar-top);
	width: 100%;
	z-index: 1;
}

nav {
	align-items: center;
	box-sizing: inherit;
	display: flex;
	height: 100%;
	justify-content: center;
	left: var(--menubar-left);
	padding: var(--size-1) var(--size-2);
	position: absolute;
	top: 0;
	user-select: none;
	width: var(--menubar-width);
}

nav ::slotted(*) { margin: var(--size-1); }

:host([no-file-system]) .file-system { display: none; }

@media (display-mode: window-controls-overlay) { /* TODO: add logic to display title bar with window overlays */ }
