@layer components {
	top-bar:defined {
		app-region: drag;
		-webkit-app-region: drag;
		background-color: var(--theme-color);
		box-shadow: var(--shadow-2);
		display: block;
		height: var(--topbar-height);
		position: absolute;
		top: var(--menubar-top);
		width: 100%;
		z-index: 1;

		nav {
			position: absolute;
			inset-block: 0;
			left: var(--topbar-left);
			width: var(--topbar-width);
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: var(--size-1) var(--size-2);
			gap: var(--size-3);

			& > :is(button, search) {
				app-region: no-drag;
				-wbkit-app-region: no-drag;
				margin: 0;
			}

			search {
				display: flex;
				align-items: center;
				gap: var(--size-2);

				form { display: contents; }

				input-wrapper {
					margin: 0;
					display: block;
				}

				select {
					appearance: base-select;
					background: none;
					border: none;
					padding: 0;
					margin: 0;
					min-inline-size: fit-content;
					inline-size: fit-content;
					align-items: center;
					justify-content: center;
					display: block;

					&::picker-icon { display: none; }

					button {
						margin: 0;
						min-inline-size: calc(1em + var(--size-2) * 2);
						min-block-size: calc(1em + var(--size-2) * 2);
					}

					selectedcontent {
						display: contents;

						span {
							block-size: 1px;
							border: 0;
							clip: rect(0, 0, 0, 0);
							inline-size: 1px;
							margin: 0;
							opacity: 0.00001;
							overflow: hidden;
							padding: 0;
							pointer-events: none;
							position: absolute;
							user-select: none;
							z-index: -1;
						}

						& > iconify-icon:nth-of-type(1) { display: none; }
					}

					option {
						background: transparent;
						color: var(--text-1);

						&::checkmark { display: none; }

						&:checked { background: var(--theme-color); }
						&:hover { background: var(--accent-color); }
						&:focus { background: var(--accent-color); }
						&:active { background: var(--secondary-color); }

						icon-wrapper {
							iconify-icon { mask-image: none; }
							iconify-icon[data-subicon] { display: none; }
						}

						& > iconify-icon:nth-of-type(2) { display: none; }
					}

					&::picker(select) {
						appearance: base-select;
						background: var(--surface-2);
						padding: var(--size-1);
						border: solid var(--border-size-2) var(--theme-color);
						border-radius: var(--radius-2);
					}
				}
			}

			dialog {
				margin-inline-end: 0;
				border: none;
				border-inline-start: solid var(--border-size-2) var(--theme-color);
				block-size: 100%;
				inline-size: fit-content;

				menu {
					display: flex;
					flex-direction: column;
					gap: var(--size-2);
					align-items: center;
					inline-size: fit-content;
					margin-inline: auto;
					padding-inline: var(--size-6);

					button {
						min-inline-size: fit-content;
						inline-size: 100%;
					}

					div:not([hidden]) { display: contents; }
				}

				@media (max-width: 40rem) { border: none; }
				@media (display-mode: window-controls-overlay) { margin-top: var(--topbar-height); }
			}
		}
	}

	:host([no-file-system]) .file-system { display: none; }
}
