<sdr-dialog id="language-modal">
	<span slot="title">$t{Language Settings}</span>

	<p>$t{Set the language for the application:}</p>
	<p><small><strong>$t{Note:}</strong> $t{The page will reload after changing the app language.}</small></p>

	<sdr-select
		id="language-select"

		:value="language"

		@change="changeLanguage"
	>
		<span slot="label">$t{App Language}</span>

		<option value="en-US">$t{English}</option>
		<option value="fr-FR">$t{French}</option>
		<option value="pt-BR">$t{Brazilian Portuguese}</option>
	</sdr-select>
</sdr-dialog>
