:host {
	box-sizing: inherit;
	display: flex;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
	scrollbar-width: thin;
}

dialog {
	background: var(--bg-color);
	border: none;
	border-radius: var(--dialog-border-radius);
	box-shadow: var(--shadow-deepest);
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3rem 1fr auto;
	height: var(--dialog-height);
	margin: auto;
	max-height: initial;
	max-width: initial;
	overflow: hidden;
	padding: 0;
	place-items: stretch stretch;
	width: var(--dialog-width);
}

dialog:not([open]) { display: none; }

dialog:focus { outline: none; }

dialog::backdrop {
	backdrop-filter: blur(0.3rem);
	background: rgba(0, 0, 0, 0.7);
}

dialog header {
	align-items: center;
	background: var(--theme-color);
	border-radius: var(--dialog-border-radius) var(--dialog-border-radius) 0 0;
	color: var(--text-color);
	display: flex;
	gap: var(--size-2);
	height: var(--menubar-height);
	justify-content: flex-end;
	padding: 0 var(--size-2);
}

dialog header ::slotted(*) { flex-grow: 1; }

dialog header ::slotted(hr) { border: none; }

dialog footer:not([hidden]) {
	align-items: center;
	background: var(--bg-color);
	display: flex;
	height: var(--menubar-height);
	justify-content: flex-end;
	padding: var(--size-1) var(--size-2);
}

dialog article {
	flex-grow: 1;
	overflow: auto;
	padding: 1rem;
}
