body {
	align-items: center;
	justify-content: center;
}

main {
	display: grid;
	margin: 0;
	aspect-ratio: 4 / 3;
	width: 100%;
	max-width: 100vw;
	max-height: 100vh;
	place-items: center;
	place-content: stretch;
}

main > * {
	width: 100%;
	height: 100%;
	grid-area: 1 / 1 / -1 / -1;
}

#start-overlay, #game-overlay {
	display: grid;
	place-items: center;

	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}

main:not([paused]) #game-overlay { display: none; }

@media (orientation: portrait) {
	main {
		transform: rotate(90deg);
		max-width: 640px;
		max-height: 840px;
		width: auto;
		height: 100%;
	}
}
