:host {
	--gamepad-button-size: calc(var(--button-size) * 1.5);
	--gap-size: 1rem;
	--controller-size: calc(var(--gamepad-button-size) * 2 + var(--gap-size));
	--padding-size: 1rem;

	display: grid;
	grid-template-columns: var(--controller-size) 1fr var(--controller-size);
	grid-template-rows: 1fr;
	grid-template-areas: 'controller-left game controller-right';
	align-items: stretch;

	width: 100vmax;
	height: 100vmin;

	position: relative;

	padding: var(--padding-size);
	overflow: hidden;
}

::slotted(canvas) {
	position: absolute;
	z-index: -1;
	max-width: calc(100% - var(--padding-size));
	max-height: calc(100% - var(--padding-size));
	aspect-ratio: 4 / 3;
	object-fit: contain;
}

#game-wrapper {
	display: grid;
	margin: 0;
	aspect-ratio: 4 / 3;
	width: calc(100% - (var(--padding-size) * 2));
	height: auto;
	max-height: calc(100vmin - (var(--padding-size) * 2));
	max-width: calc(100vmax - (var(--controller-size) * 2) - (var(--padding-size) * 4));
	place-items: center;
	place-content: stretch;
	grid-area: game;
	align-self: center;
	justify-self: center;
	position: relative;
	overflow: hidden;
}

#game-wrapper > * {
	width: 100%;
	height: 100%;
	grid-area: 1 / 1 / -1 / -1;
	position: absolute;
}

#start-overlay, #game-overlay {
	display: none;
	place-items: center;

	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}

:host(:not([loaded])) #start-overlay { display: grid; }

:host([paused]) #game-overlay { display: grid; }

.controller {
	display: none;
	justify-content: end;
	align-self: end;
	align-items: center;
	grid-gap: var(--gap-size);
	box-sizing: border-box;
	width: 100%;
	min-height: calc(var(--gamepad-button-size) * 4 + var(--gap-size) * 2);
}

.controller button {
	background: var(--button-bg, transparent);
	border: solid var(--border-width) var(--button-border, transparent);
	border-radius: 100vmax;
	width: var(--gamepad-button-size);
	height: var(--gamepad-button-size);
	padding: 0;

	transition: 0.2s ease all;

	font: inherit;
	font-size: 2rem;

	user-select: none;

	text-align: center;
}

.controller button:focus {
	outline: none;
}

.controller button:active {
	border-color: var(--button-bg, transparent);
	background: var(--button-border, transparent);
}

#left-controller {
	grid-area: controller-left;
	justify-self: start;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 2fr;
	grid-template-areas:
		'select'
		'start'
		'dpad';
}

#right-controller {
	grid-area: controller-right;
	justify-self: end;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		'l r'
		'x y'
		'a b';
}

#button-select {
	--button-border: silver;
	--button-bg: dimgray;

	width: auto;
	grid-area: select;
}

#button-start {
	--button-border: silver;
	--button-bg: dimgray;

	width: auto;
	grid-area: start;
}

#bumper-left {
	--button-border: silver;
	--button-bg: dimgray;

	grid-area: l;
}

#bumper-right {
	--button-border: silver;
	--button-bg: dimgray;

	grid-area: r;
}

#button-a {
	--button-border: limegreen;
	--button-bg: green;

	grid-area: a;
}

#button-b {
	--button-border: red;
	--button-bg: darkred;

	grid-area: b;
}

#button-x {
	--button-border: blue;
	--button-bg: darkblue;

	grid-area: x;
}

#button-y {
	--button-border: blueviolet;
	--button-bg: purple;

	grid-area: y;
}

#dpad {
	grid-area: dpad;
	width: 100%;
	height: 100%;
}

@media (orientation: portrait) {
	:host {
		transform: rotate(90deg);
	}
}

@media (pointer: coarse) {
	.controller {
		display: grid;
	}
}
