:host {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;

	background-color: var(--bg-color);

	border: solid var(--border-width) var(--border-color);
	border-radius: var(--border-radius);

	cursor: pointer;
	user-select: none;
	margin: var(--margin-block);

	width: var(--radio-size);

	transition: var(--transition);
}

#radio-icon { font-size: var(--radio-icon-size); }

h4 { margin-bottom: 0; }
