:host {
	align-items: stretch;
	box-sizing: inherit;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

:host([hidden]) { display: none; }

:host(:not(:focus-within)) sdr-gamepad-badge { display: none; }

label {
	background: var(--border-color);
	border-radius: var(--radius-round);
	color: var(--text-color);
	display: block;
	font-size: var(--font-size-0);
	margin-inline-start: var(--size-2);
	padding: var(--size-1) var(--size-2);
	transform: translateY(50%);
	transition: var(--transition);
	user-select: none;
	width: fit-content;
	z-index: 1;
}

span { position: relative; }

select {
	accent-color: var(--theme-color);
	appearance: none;
	background-color: transparent;
	background-position: calc(100% - var(--size-2)) center;
	background-repeat: no-repeat;
	background-size: var(--size-5);
	border: solid var(--size-1) var(--border-color);
	border-radius: var(--radius-3);
	box-sizing: border-box;
	font: inherit;
	padding: var(--size-1) var(--size-2);
	padding-block-start: var(--font-size-0);
	padding-inline-end: calc(var(--size-5) + var(--size-2) * 2);
	transition: var(--transition);
	width: 100%;
}

select::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}

select:disabled {
	color: currentcolor;
	opacity: 1;
}

select:not(:disabled) {
	background-color: var(--bg-color);
	background-image: var(--select-arrow);
}

select:focus {
	border-bottom-color: var(--theme-color);
	border-color: var(--border-color);
	outline: none;
}
