/* stylelint-disable declaration-no-important */

main {
	height: 100%;
	width: 100vw;
	margin-inline: auto;
	overflow-x: hidden;

	user-select: none;
}

main > * {
	overflow-x: hidden !important;
	box-sizing: border-box !important;
	width: 100% !important;
}

select {
	width: 100%;
	padding: 0.3rem 1.7rem 0.1rem 0.3rem;

	appearance: none;
	border: solid var(--border-width) transparent;
	border-radius: 0.3rem;

	background-color: var(--bg-color);
	background-image: var(--select-arrow);
	background-repeat: no-repeat;
	background-position: calc(100% - 0.1rem) center;
	background-size: 1.5rem;

	transition: 0.2s ease all;

	font: inherit;
	box-sizing: border-box;
}

select:focus {
	outline: none;
	border-color: var(--border-color);
	border-bottom-color: var(--theme-color);
}
