button {
	background: transparent;
	border: solid var(--border-width) transparent;
	border-radius: 0.3rem;
	min-width: var(--button-size);
	width: fit-content;
	height: var(--button-size);
	padding: 0.3rem 0.5rem;
	margin: 0.1rem;

	transition: all 0.2s ease;

	font: inherit;

	user-select: none;
	app-region: no-drag;
	-webkit-app-region: no-drag;
}

button:focus {
	border-color: var(--accent-color);
	outline: none;
}

button:active {
	background: var(--secondary-color);
}

button:hover {
	background: var(--accent-color);
}

button:disabled {
	background: var(--dark-bg-color);
	color: var(--border-color);
}

:host([icon-button]) button {
	width: var(--button-size);
	padding: 0.1rem;
}

:host([small]) button {
	min-width: unset;
	width: calc(var(--button-size) * 0.65);
	height: calc(var(--button-size) * 0.65);
	font-size: 0.8em;
}

:host([wide]) button {
	min-width: min-content;
	width: 100%;
	text-align: left;
}
