@layer components {
	stats-report {
		display: contents;

		ul {
			padding: 0;

			li { list-style: none; }
		}

		details:has(div)::details-content {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
