<template>
	<div>
		<sdr-edit-box
			id="name"
			slot="title"
			:disabled="isDisplaying"
		></sdr-edit-box>

		<div id="item-content">
			<header>
				<sdr-edit-list
					id="sku-list"
					open
					type="text"

					:disabled="isDisplaying"
					:value="sku"

					@itemadded="addSku"
					@itemremoved="removeSku"
				>
					<span slot="label">t("SKU")</span>
					<input
						slot="input"
						pattern="^[A-Z0-9](?:-?[A-Z0-9])+$"
						required

						:value="sku"
						@update="updateSku"
						@input="updateSku"
					/>
				</sdr-edit-list>

				<sdr-edit-box
					id="edition"
					type="number"
					min="1"
					max="6"
					step="1"
					required

					:disabled="isDisplaying"
					:value="edition"
				>
					<span slot="label">t("Edition")</span>
				</sdr-edit-box>

				<sdr-select
					id="category"
					required

					:disabled="isDisplaying"
					:value="category"
				>
					<span slot="label">t("Category")</span>

					<option value="novel">📚 t("Novel")</option>
					<option value="sourcebook">📜 t("Sourcebook")</option>
					<option value="mission">🗺️ t("Mission")</option>
					<option value="rulebook">📝 t("Rulebook")</option>
					<option value="misc">🔣 t("Misc.")</option>
					<option value="magazine">📰 t("Magazine")</option>
					<option value="boardgame">♟️ t("Boardgame")</option>
					<option value="videogame">🎮 t("Videogame")</option>
					<option value="tcg">🃏 t("T.C.G.")</option>
					<option value="unofficial">📓 t("Unofficial")</option>
				</sdr-select>

				<sdr-select
					id="type"
					required

					:disabled="isDisplaying"
					:value="type"
				>
					<span slot="label">t("Type")</span>


					<option value="digital">💽 t("Digital")</option>
					<option value="scan">📠 t("Scan")</option>
					<option value="print">🖨️ t("Print")</option>
					<option value="physical">🎲 t("Physical")</option>
				</sdr-select>

				<sdr-select
					id="language"
					required

					:disabled="isDisplaying"
					:value="originalLanguage"
				>
					<span slot="label">t("Original Language")</span>

					<option value="en-US">🇺🇸 t("en")</option>
					<option value="de-DE">🇩🇪 t("de")</option>
					<option value="fr-FR">🇫🇷 t("fr")</option>
					<option value="jp-JP">🇯🇵 t("jp")</option>
					<option value="es-ES">🇪🇸 t("es")</option>
					<option value="hu-HU">🇭🇺 t("hu")</option>
					<option value="it-IT">🇮🇹 t("it")</option>
					<option value="pt-BR">🇧🇷 t("pt")</option>
					<option value="cs-CZ">🇨🇿 t("cs")</option>
					<option value="he-IL">🇮🇱 t("he")</option>
					<option value="pl-PL">🇵🇱 t("pl")</option>
					<option value="fi-FI">🇫🇮 t("fi")</option>
				</sdr-select>

				<sdr-edit-list
					id="release-date-list"
					open

					:disabled="isDisplaying"
					:value="releaseDate"
					:values="releaseDates"

					@itemadded="addReleaseDate"
					@itemremoved="removeReleaseDate"
				>
					<span slot="label">t("Release date")</span>
					<input slot="input" type="date" required />
				</sdr-edit-list>
			</header>

			<aside id="meta">
				<sdr-select
					id="status"
					required

					:disabled="isDisplaying"
					:value="status"
				>
					<span slot="label">t("Status")</span>

					<option value="ok">✔️ t("OK")</option>
					<option value="missing">❌ t("Missing")</option>
					<option value="outofscope">⛔ t("Out of scope")</option>
					<option value="canceled">🚫 t("Canceled")</option>
				</sdr-select>

				<sdr-edit-box
					type="month"
					id="gamedate"
					required

					:disabled="isDisplaying"
					:value="gameDate"
				>
					<span slot="label">t("Game date")</span>
				</sdr-edit-box>

				<sdr-edit-list
					id="names"

					:disabled="isDisplaying"

					:value="translatedNames"

					@itemadded="addTranslatedName"
					@itemremoved="removeTranslatedName"
				>
					<span slot="label">t("Names published")</span>

					<select slot="input" required>
						<option selected disabled hidden value="">t("Please select an option...")</option>

						<option value="en-US">🇺🇸 t("en")</option>
						<option value="de-DE">🇩🇪 t("de")</option>
						<option value="fr-FR">🇫🇷 t("fr")</option>
						<option value="jp-JP">🇯🇵 t("jp")</option>
						<option value="es-ES">🇪🇸 t("es")</option>
						<option value="hu-HU">🇭🇺 t("hu")</option>
						<option value="it-IT">🇮🇹 t("it")</option>
						<option value="pt-BR">🇧🇷 t("pt")</option>
						<option value="cs-CZ">🇨🇿 t("cs")</option>
						<option value="he-IL">🇮🇱 t("he")</option>
						<option value="pl-PL">🇵🇱 t("pl")</option>
						<option value="fi-FI">🇫🇮 t("fi")</option>
					</select>

					<input slot="input" required placeholder="t('Name')" />
				</sdr-edit-list>

				<sdr-edit-list
					id="publisher"
					open

					:disabled="isDisplaying"
				>
					<span slot="label">t("Publisher")</span>

					<select slot="input" required>
						<option selected disabled hidden value="">t("Please select an option...")</option>

						<option value="heyne">Heyne Verlag</option>
						<option value="fanpro">Fantasy Productions</option>
						<option value="other">other</option>
						<option value="catalyst">Catalyst Game Labs</option>
						<option value="fasa">FASA Corporation</option>
						<option value="unofficial">unofficial</option>
						<option value="wizkids">WizKids Games</option>
						<option value="pegasus">Pegasus Spiele</option>
						<option value="cliffhanger">Cliffhanger Productions</option>
						<option value="harebrained">Harebrained Schemes</option>
					</select>
				</sdr-edit-list>
			</aside>

			<aside id="files">
				<sdr-edit-list
					id="files-list"

					value="new file"

					:disabled="isDisplaying"

					@itemadded="addFile"
					@itemremoved="removeFile"
				>
					<span slot="label">t("Files")</span>
					<label slot="input">t("Add a file")</label>
				</sdr-edit-list>

				<sdr-edit-list
					id="links"

					:disabled="isDisplaying"
				>
					<span slot="label">t("Online links")</span>
					<input slot="input" type="text" placeholder="t('Name')" required />
					<input slot="input" type="url" placeholder="t('URL')" required />
				</sdr-edit-list>
			</aside>

			<drop-area
				id="cover-drop-area"
				:disabled="isDisplaying"

				@drop="addCover"
			>
				<figure>
					<img
						 width="100"
						 height="160"
						 id="cover"
						 decoding="async"
						 loading="lazy"
						 role="presentation"
						 src="./images/base-covers/loading-anim.svg" />
				</figure>
			</drop-area>

			<article>
				<sdr-textarea
					id="notes"

					:disabled="isDisplaying"
					:value="notes"
				>
					<span slot="label">t("Notes")</span>
				</sdr-textarea>

				<sdr-textarea
					id="description"
					required

					:disabled="isDisplaying"
					:value="description"
				>
					<span slot="label">t("Description")</span>
				</sdr-textarea>
			</article>
		</div>

		<sdr-button
			slot="footer"
			icon="❌"
			@click="edit"
		>t("Cancel")</sdr-button>
		<sdr-button
			slot="footer"
			icon="✏️"
			@click="edit"
		>t("Edit")</sdr-button>
		<sdr-button
			slot="footer"
			icon="💾"
			@click="save"
		>t("Save")</sdr-button>
		<sdr-button
			slot="footer"
			icon="📥"
			@click="export"
		>t("Export")</sdr-button>
	</div>
</template>
