:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#tabs {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: var(--size-2);
	justify-content: center;
}

#tab-panels {
	border: var(--size-1) solid var(--theme-color);
	border-radius: var(--radius-3);
	height: fit-content;
	overflow: auto;
	padding: var(--size-1) var(--size-2);
}
