:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#tabs {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: var(--padding-inline);
	justify-content: center;
}

#tab-panels {
	border: var(--border-width) solid var(--theme-color);
	border-radius: var(--border-radius);
	height: fit-content;
	overflow: auto;
	padding: var(--padding-block) var(--padding-inline);
}
