:host { display: inline-block; }

#tab {
	background: var(--bg-color);
	border: var(--size-1) solid var(--border-color);
	border-bottom: none;
	border-radius: var(--radius-3) var(--radius-3) 0 0;
	cursor: pointer;
	display: inline-block;
	padding: var(--size-2) var(--size-1);
}

:host([aria-selected='true']) #tab {
	background: var(--accent-color);
	border-color: var(--theme-color);
}
