:host { display: inline-block; }

#tab {
	background: var(--bg-color);
	border: var(--border-width) solid var(--border-color);
	border-bottom: none;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	cursor: pointer;
	display: inline-block;
	padding: var(--padding-inline) var(--padding-block);
}

:host([aria-selected='true']) #tab {
	background: var(--accent-color);
	border-color: var(--theme-color);
}
