/* stylelint-disable declaration-no-important */

main {
	height: 100%;
	margin-inline: auto;
	overflow-x: hidden;
	user-select: none;
	width: 100vw;
}

main > * {
	box-sizing: border-box !important;
	overflow-x: hidden !important;
	width: 100% !important;
}

select {
	appearance: none;
	background-color: var(--bg-color);
	background-image: var(--select-arrow);
	background-position: calc(100% - var(--margin-inline)) center;
	background-repeat: no-repeat;
	background-size: var(--select-arrow-size);
	border: solid var(--border-width) transparent;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	font: inherit;
	padding: var(--padding-block) var(--padding-inline);
	padding-inline-end: var(--select-arrow-spacing);
	transition: var(--transition);
	width: 100%;
}

select:focus {
	border-bottom-color: var(--theme-color);
	border-color: var(--border-color);
	outline: none;
}
