:host {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: column;
	box-sizing: inherit;
	width: 100%;
}

:host([hidden]) { display: none; }

label:not([hidden]) {
	font-size: 0.75em;
	display: block;
	width: fit-content;
	padding: 0.05rem 0.4rem;
	margin-inline-start: 0.5rem;
	margin-block-start: 0.6rem;

	border-radius: 0.5rem;

	background: var(--border-color);
	color: var(--text-color);

	z-index: 1;
	transform: translateY(50%);
	transition: 0.2s ease all;
}

skeleton-loader { flex-grow: 1; }

textarea, #rendered-text {
	width: 100%;
	height: 100%;
	max-height: 20rem;
	padding: 0.5rem 0.5rem 0.3rem;

	appearance: none;
	border: solid var(--border-width) transparent;
	background: transparent;
	border-radius: 0.3rem;

	transition: 0.2s ease all;

	font: inherit;
	box-sizing: border-box;

	resize: none;
	overflow: auto;

	scrollbar-width: thin;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
}

textarea {
	background: var(--bg-color);
	white-space: pre-wrap;
}

textarea::-webkit-scrollbar,
#rendered-text::-webkit-scrollbar {
	width: 0.5rem;
}

textarea::-webkit-scrollbar-track,
#rendered-text::-webkit-scrollbar-track {
	border-radius: 100vmax;
	background-color: var(--scrollbar-bg);
}

textarea::-webkit-scrollbar-thumb,
#rendered-text::-webkit-scrollbar-thumb {
	border-radius: 100vmax;
	background-color: var(--theme-color);
}

textarea:focus {
	outline: none;
	border-color: var(--theme-color);
}
