:host {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: column;
	box-sizing: inherit;
	width: 100%;
}

:host([hidden]) { display: none; }

label:not([hidden]) {
	font-size: var(--small-text);
	display: block;
	width: fit-content;
	padding: var(--padding-small) var(--padding-inline);
	margin-inline-start: var(--label-recess);

	border-radius: var(--pill-border-radius);

	background: var(--border-color);
	color: var(--text-color);

	z-index: 1;
	transform: translateY(50%);
	transition: var(--transition);

	user-select: none;
}

input {
	width: 100%;
	padding: var(--padding-block) var(--padding-inline);
	padding-block-start: var(--small-text);

	appearance: none;
	border: solid var(--border-width) var(--border-color);
	background: transparent;
	border-radius: var(--border-radius);

	transition: var(--transition);

	font: inherit;
	box-sizing: border-box;
}

input[type='search']::-webkit-search-cancel-button { display: none; }

input:not(:read-only) {
	background: var(--bg-color);
}

input:focus {
	outline: none;
	border-bottom-color: var(--theme-color);
}

input::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}
