::selection {
	background-color: var(--theme-color);
	color: var(--bg-color);
}

:host {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: fit-content;
	max-height: 3rem;

	border-radius: 0.3rem;
	padding: 0.3rem 0.5rem;

	background: var(--bg-color);
	border: solid var(--border-width) transparent;

	box-sizing: inherit;
}

:host([stretch]) { width: 100%; }

:host([hidden]) { display: none; }

:host([edit]) {
	border-color: var(--theme-color);
	background: var(--border-color);
}
