:host {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	box-sizing: inherit;
	width: 100%;
	margin-block: 0.5rem;
}

label:not([hidden]) {
	font-size: 0.75em;
	display: block;
	width: fit-content;
	padding: 0.05rem 0.4rem;
	margin-inline-start: 0.5rem;

	border-radius: 0.5rem;

	background: var(--border-color);
	color: var(--text-color);

	z-index: 1;
	transform: translateY(50%);
	transition: 0.2s ease all;
}

input {
	width: 100%;
	padding: 0.5rem 0.5rem 0.3rem;

	appearance: none;
	border: solid var(--border-width) transparent;
	background: transparent;
	border-radius: 0.3rem;

	transition: 0.2s ease all;

	font: inherit;
	box-sizing: border-box;
}

input[type='search']::-webkit-search-cancel-button { display: none; }

input:not(:read-only) {
	background: var(--bg-color);
}

input:focus {
	outline: none;
	border-color: var(--theme-color);
}
