:host > div {
	display: grid;
	grid-template-columns: min-content;
	grid-template-rows: min-content;

	--hover-color: hotpink;
	--hover-background: goldenrod;
}

#content, #overlay {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
}

#overlay {
	border: dotted var(--border, transparent) medium;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;

	background: radial-gradient(var(--background, transparent), transparent);
	color: var(--border, currentColor);

	z-index: 1;
}

#overlay[hidden] {
	display: none;
}

.drop {
	--border: var(--hover-color);
	--background: var(--hover-background);
}
