:host {
	box-sizing: inherit;
	display: flex;
	position: relative;
}

dialog {
	background: var(--bg-color);
	border: solid var(--size-1) var(--border-color);
	border-radius: var(--radius-3);
	display: flex;
	flex-direction: column;
	height: min-content;
	left: 0;
	margin: 0;
	max-height: var(--size-content-3);
	max-width: var(--size-content-1);
	opacity: 0;
	overflow: auto;
	padding: var(--size-2);
	position: absolute;
	right: auto;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
	scrollbar-width: thin;
	top: var(--size-7);
	transform: scaleY(0);
	transform-origin: center top;
	transition: var(--transition);
	width: max-content;
}

dialog[open] {
	opacity: 1;
	transform: scaleY(100%);
}

:host([align-right]) dialog {
	left: auto;
	right: 0;
}

dialog.right {
	left: auto;
	right: 0;
}
