:host {
	box-sizing: inherit;
	display: flex;
	position: relative;
}

dialog {
	background: var(--bg-color);
	border: solid var(--border-width) var(--border-color);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	height: min-content;
	left: 0;
	margin: 0;
	max-height: var(--dropdown-height);
	max-width: var(--dropdown-width);
	opacity: 0;
	overflow: auto;
	padding: var(--padding-inline);
	position: absolute;
	right: auto;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
	scrollbar-width: thin;
	top: var(--dropdown-top);
	transform: scaleY(0);
	transform-origin: center top;
	transition: var(--transition);
	width: max-content;
}

dialog[open] {
	opacity: 1;
	transform: scaleY(100%);
}

dialog::-webkit-scrollbar { width: var(--scrollbar-width); }

dialog::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bg);
	border-radius: var(--pill-border-radius);
}

dialog::-webkit-scrollbar-thumb {
	background-color: var(--theme-color);
	border-radius: var(--pill-border-radius);
}

:host([align-right]) dialog {
	left: auto;
	right: 0;
}

dialog.right {
	left: auto;
	right: 0;
}
