@layer components {
	button[data-dropdown-anchor] { anchor-name: --dropdown-menu; }

	dropdown-menu:popover-open {
		position: absolute;
		position-anchor: --dropdown-menu;
		position-area: block-end span-all;

		display: block;
		inline-size: fit-content;
		inset-block-start: calc(anchor(end) + var(--size-2));
		padding: var(--size-1);
		border-radius: var(--radius-2);
		border: solid var(--border-size-2) var(--accent-color);
		background-color: var(--surface-2);

		menu {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			inline-size: fit-content;
			margin: 0;
			padding: var(--size-2);

			button {
				min-inline-size: fit-content;
				inline-size: 100%;
			}
		}
	}
}
