:host {
	position: absolute;
	display: block;
	top: var(--menubar-top);
	height: var(--menubar-height);
	width: 100%;
	background-color: var(--accent-color);

	app-region: drag;
	-webkit-app-region: drag;

	box-sizing: border-box;
	z-index: 1;
}

nav {
	position: absolute;
	top: 0;
	display: flex;
	user-select: none;
	height: 100%;
	left: env(titlebar-area-x, 0);
	width: env(titlebar-area-width, 100%);
	padding: calc(var(--menubar-height) * 0.1) calc(var(--menubar-height) * 0.2);
	box-sizing: inherit;
	justify-content: center;
	align-items: center;
}

nav > * {
	margin: 0.1rem;

	app-region: no-drag;
	-webkit-app-region: no-drag;
}
