::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}

:host {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: fit-content;
	max-height: var(--list-item-size);

	border-radius: var(--border-radius);
	padding: var(--padding-block) var(--padding-inline);
	margin: var(--margin-block) var(--margin-inline);

	background: var(--bg-color);
	border: solid var(--border-width) var(--border-color);

	box-sizing: inherit;
}

:host([stretch]) { width: 100%; }

:host([hidden]) { display: none; }

:host([edit]) {
	border-color: var(--theme-color);
	background: var(--border-color);
}

:host([edit]) #close-button { display: block; }

:host:hover {
	background: var(--accent-color);
}
