:host { display: block; }

aside:not([hidden]) {
	position: absolute;
	bottom: 0.5rem;
	left: 1rem;
	right: 1rem;
	height: 3rem;
	border-radius: 0.5rem;
	padding: 0.5rem;

	border: solid var(--border-width) var(--secondary-color);
	background: var(--accent-color);
	color: var(--text-color);

	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: inherit;

	user-select: none;
}

p {
	overflow: hidden;
	text-overflow: ellipsis;
}
