::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}

:host {
	align-items: stretch;
	box-sizing: inherit;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

summary {
	background: var(--border-color);
	border-radius: var(--pill-border-radius);
	color: var(--text-color);
	display: block;
	font-size: var(--small-text);
	margin-inline-start: var(--label-recess);
	padding: var(--padding-small) var(--padding-inline);
	position: absolute;
	transform: translateY(calc((var(--small-text) + var(--padding-small) * 2) * -1));
	transition: var(--transition);
	user-select: none;
	width: fit-content;
	z-index: 1;
}

details {
	appearance: none;
	background: transparent;
	border: solid var(--border-width) var(--border-color);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	font: inherit;
	margin: calc(var(--small-text) + var(--padding-small) * 2 + var(--border-width)) 0 0;
	padding: calc(var(--small-text) / 2) 0 0;
	position: relative;
	transition: var(--transition);
	width: 100%;
}

details #items-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: max-content;
	justify-content: flex-start;
	max-height: calc(var(--list-item-size) * 3);
	min-height: var(--list-item-size);
	overflow: auto;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
	scrollbar-width: thin;
}

details #items-container::-webkit-scrollbar { width: var(--scrollbar-size); }

details #items-container::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bg);
	border-radius: var(--pill-border-radius);
}

details #items-container::-webkit-scrollbar-thumb {
	background-color: var(--theme-color);
	border-radius: var(--pill-border-radius);
}

summary::before {
	content: '▷';
	display: inline-block;
	transition: inherit;
}

details[open] summary::before { transform: rotate(90deg); }

:host(:not([disabled])) #input-container {
	align-items: center;
	background: var(--border-color);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	display: flex;
	margin-block: calc((var(--margin-block) + var(--border-width)) * -1) var(--margin-block);
	margin-inline: 0;
	padding: calc(var(--small-text) / 2 + var(--padding-block)) var(--padding-inline) var(--padding-block);
}
