::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}

:host {
	align-items: stretch;
	box-sizing: inherit;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

summary {
	background: var(--border-color);
	border-radius: var(--radius-round);
	color: var(--text-color);
	display: block;
	font-size: var(--font-size-0);
	margin-inline-start: var(--size-2);
	padding: var(--size-1) var(--size-2);
	position: absolute;
	transform: translateY(calc((var(--font-size-0) + var(--size-1) * 2) * -1));
	transition: var(--transition);
	user-select: none;
	width: fit-content;
	z-index: 1;
}

details {
	appearance: none;
	background: transparent;
	border: solid var(--size-1) var(--border-color);
	border-radius: var(--radius-3);
	box-sizing: border-box;
	font: inherit;
	margin: calc(var(--font-size-0) + var(--size-1) * 2 + var(--size-1)) 0 0;
	padding: calc(var(--font-size-0) / 2) 0 0;
	position: relative;
	transition: var(--transition);
	width: 100%;
}

details #items-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: max-content;
	justify-content: flex-start;
	max-height: var(--size-content-1);
	min-height: var(--size-8);
	overflow: auto;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
	scrollbar-width: thin;
}

summary::before {
	content: '▷';
	display: inline-block;
	transition: inherit;
}

details[open] summary::before { transform: rotate(90deg); }

:host(:not([disabled])) #input-container {
	align-items: center;
	background: var(--border-color);
	border-top-left-radius: var(--radius-3);
	border-top-right-radius: var(--radius-3);
	display: flex;
	margin-block: calc((var(--size-1) + var(--size-1)) * -1) var(--size-1);
	margin-inline: 0;
	padding: calc(var(--font-size-0) / 2 + var(--size-1)) var(--size-2) var(--size-1);
}
