@import './vars.css';

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	border-radius: 100vmax;
	background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 100vmax;
	background-color: var(--theme-color);
}

:not(:defined) { display: none; }

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: var(--body-text);

	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;

	background: var(--bg-color);
	color: var(--text-color);

	scrollbar-width: thin;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
}

body *, body *::after, body *::before {
	box-sizing: inherit;
	font-family: inherit;
}

main {
	overflow: auto;
	margin-top: var(--menubar-height);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	scroll-snap-type: both proximity;
}

#load-overlay {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: grid;
	place-items: center;
	align-content: center;

	background: var(--bg-color);
	color: var(--theme-color);
	accent-color: var(--theme-color);
}
