/* Main */

::-webkit-scrollbar {
	width: var(--size-xxxs);
	opacity: 0.7;
}

::-webkit-scrollbar-thumb {
	border-radius: var(--size-xxxs);
	background: var(--main-color);
}
::-webkit-scrollbar:window-inactive { opacity: 0.3; }

html { height: 100%; }

body {
	background-color: var(--background-color);
	color: var(--main-color);
	font-size: var(--body-text);
	font-family: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	box-sizing: border-box;
	margin: 0;
}

body * {
	box-sizing: inherit;
}

code { font-family: 'Fira Code', Consolas, 'Fira Mono', 'Noto Mono', 'Roboto Mono', 'Droid Sans Mono', Menlo, Monaco, 'Courier New', Courier, monospace; }

h1, h2, h3, h4, h5, h6, progress { color: var(--highlight-color); }
h1 { font-size: var(--size-xxxl); }
h2 { font-size: var(--size-xxl); }
h3 { font-size: var(--size-xl); }
h4 { font-size: var(--size-l); }
h5 { font-size: var(--size-m); }
h6 { font-size: var(--size-s); }

summary, dt {
	font-weight: bold;
	color: var(--highlight-color);
	font-size: var(--size-l);
}

a {
	color: var(--link-color);
	transition: all 0.5s;
}

a:visited {
	color: var(--link-visited-color);
}

summary {
	font-weight: bold;
}

a:focus, summary:focus, button:focus {
	outline: none;
	color: var(--highlight-color);
	text-shadow: 0 0 var(--size-us) var(--highlight-shadow-color);
}

pre {
	margin: 0;
	padding: 0;
	font-family: inherit;
	white-space: pre-wrap;
	hyphens: auto;
}

#load-overlay { text-align: center; }

.hidden { display: none !important; }

dialog {
	color: inherit;
	background: var(--background-color);
	border: none;
	margin: auto;
	position: absolute;
	width: calc(100vw - calc(var(--dialog-margin) * 2));
	height: calc(100vh - calc(var(--dialog-margin) * 2));
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: var(--size-m);
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

dialog > header {
	padding: var(--size-us);
	background: var(--background-color);
	width: calc(100% + calc(var(--size-m) * 2));
	display: grid;
	grid-template: 'back header' 1fr / minmax(auto, max-content) 1fr;
	margin: calc(var(--size-m) * -1) 0 0 calc(var(--size-m) * -1);
	align-items: center;
	justify-content: start;
	grid-gap: var(--size-m);
}

dialog > header .back-button {
	font-size: var(--size-l);
	border: none;
	background: transparent;
	color: var(--link-color);
	grid-area: back;
	justify-self: start;
}

dialog > header > * {
	margin: 0;
	grid-area: header;
}

dialog > *:not(header) {
	height: 100%;
	overflow: auto;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog.fixed {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}

figure {
	margin: 0;
	display: inline-flex;
	justify-content: center;
	align-content: flex-start;
	overflow: hidden;
}

figure > img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	object-position: center top;
}
