@import './vars.css';
@import './font.css';

::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
	border-radius: var(--pill-border-radius);
	background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: var(--pill-border-radius);
	background-color: var(--theme-color);
}

:not(:defined) { display: none; }

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;

	font-family: shadowrun, system-ui, 'Segoe UI', 'Segoe UI Emoji', emoji, sans-serif;
	font-size: var(--body-text);

	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;

	background: var(--dark-bg-color);
	color: var(--text-color);

	scrollbar-width: thin;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
}

body *, body *::after, body *::before {
	box-sizing: inherit;
	font-family: inherit;
}

main {
	overflow: auto;
	margin: calc(var(--menubar-top) + var(--menubar-height)) var(--bound-right) var(--bound-bottom) var(--bound-left);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	scroll-snap-type: both proximity;
	width: 100vw;
	height: calc(100vh - (var(--menubar-top) + var(--menubar-height)));
}

.fullsize main {
	margin-top: calc(var(--titlebar-top) + var(--titlebar-height));
	height: calc(100vh - (var(--titlebar-top) + var(--titlebar-height)));
	display: grid;
	align-items: stretch;
	justify-items: stretch;
	align-content: center;
	justify-content: center;
	overflow: hidden;
}

#load-overlay {
	--logo-spacing: 16vmin;
	--logo-size: 100vmin;

	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: grid;
	place-items: center;
	align-content: center;

	background: var(--dark-bg-color);
	color: var(--theme-color);
	accent-color: var(--theme-color);
}

#load-overlay img {
	box-sizing: border-box;

	width: var(--logo-size);
	height: var(--logo-size);
	padding: var(--logo-spacing);
	padding-bottom: calc(var(--logo-spacing) * 2);
}

#load-overlay div {
	position: absolute;
	height: calc(var(--logo-spacing) * 2);
	margin-top: calc(var(--logo-size) - (var(--logo-spacing) * 2));
	padding: 1.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	animation: fadein 0.3s linear;
	animation-fill-mode: forwards;
}

#load-progress {
	width: calc(var(--logo-size) / 2);
}

#load-text {
	hyphens: auto;
	word-wrap: break-word;
	overflow: auto;
	margin: var(--margin-block) 0 0;
	font-size: var(--small-text);
	flex-grow: 1;
}

#load-menubar {
	position: absolute;
	display: block;
	background: var(--theme-color);
	width: 100vw;
	height: var(--menubar-height);
	top: var(--menubar-top);
	left: 0;
	z-index: 1;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
