@font-face {
	font-display: swap;
	font-family: shadowrun;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/shadowrun.woff') format('woff');
	unicode-range: U+E800;
}

/* TODO: turn this into a component */
.sdr-icon {
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: discretionary-ligatures;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
	text-transform: none;
}
