body { background-color: #3c3c3c; }
dialog:not([open]), .hidden { display: none; }
#load-overlay * { color: inherit; }
#load-overlay h1 { font-size: 2.44140625rem; }

#load-overlay {
	text-align: center;
	font-family: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	color: #ff5722;
}
