:root {
	color-scheme: light;

	--body-text: 20px;
	--menubar-height: env(titlebar-area-height, 3rem);
	--button-size: calc(var(--menubar-height) * 0.8);

	/* Colors */
	--theme-color: deeppink;
	--theme-gradient: linear-gradient(to bottom, hotpink, deeppink);
	--secondary-color: yellow;
	--secondary-gradient: linear-gradient(to bottom, yellow, goldenrod);
	--accent-color: hotpink;
	--bg-color: white;
	--text-color: black;
	--bg-gradient: conic-gradient(goldenrod, peru, orange, sandybrown, gold, goldenrod);
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--theme-color: gold;
		--theme-gradient: linear-gradient(to bottom, gold, peru);
		--secondary-color: hotpink;
		--secondary-gradient: linear-gradient(to bottom, hotpink, deeppink);
		--accent-color: deeppink;
		--bg-color: #3c3c3c;
		--text-color: white;
		--bg-gradient: conic-gradient(darkslateblue, slateblue, blueviolet, purple, darkviolet, indigo, darkslateblue);
	}
}
