button {
	app-region: no-drag;
	-webkit-app-region: no-drag;
	background: transparent;
	border: solid var(--border-width) transparent;
	border-radius: var(--border-radius);
	font: inherit;
	height: var(--button-size);
	margin: var(--margin-small);
	min-width: var(--button-size);
	padding: var(--padding-block) var(--padding-inline);
	position: relative;
	transition: var(--transition);
	user-select: none;
	width: fit-content;
}

:host(:focus-within) button {
	border-color: var(--accent-color);
	outline: none;
}

:host(:not(:focus-within):not([keep-trigger-button])) sdr-gamepad-badge { display: none; }

button:active { background: var(--secondary-color); }

button:hover { background: var(--accent-color); }

button:disabled {
	background: var(--dark-bg-color);
	color: var(--border-color);
}

:host([icon-button]) button {
	padding: var(--padding-small);
	width: var(--button-size);
}

:host([small]) button {
	font-size: var(--small-text);
	height: calc(var(--button-size) * 0.65);
	min-width: unset;
	width: calc(var(--button-size) * 0.65);
}

:host([wide]) button {
	min-width: min-content;
	text-align: left;
	width: 100%;
}
