:host {
	--min-height: 6rem;
	--max-height: 20rem;
	--textarea-height: 12rem;
	align-items: stretch;
	box-sizing: inherit;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

:host([hidden]) { display: none; }

:host([disabled]) textarea { display: none; }
:host([disabled]) #rendered-text { display: block; }
:host(:not([disabled])) textarea { display: block; }
:host(:not([disabled])) #rendered-text { display: none; }

label {
	background: var(--border-color);
	border-radius: var(--pill-border-radius);
	color: var(--text-color);
	display: block;
	font-size: var(--small-text);
	margin-inline-start: var(--label-recess);
	padding: var(--padding-small) var(--padding-inline);
	transform: translateY(50%);
	transition: var(--transition);
	user-select: none;
	width: fit-content;
	z-index: 1;
}

skeleton-loader { flex-grow: 1; }

textarea, #rendered-text {
	appearance: none;
	background: transparent;
	border: solid var(--border-width) transparent;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	font: inherit;
	height: clamp(var(--min-height), fit-content, var(--max-height));
	overflow: auto;
	padding: var(--padding-block) var(--padding-inline);
	padding-block-start: var(--small-text);
	resize: none;
	scrollbar-color: var(--theme-color) var(--scrollbar-bg);
	scrollbar-width: thin;
	transition: var(--transition);
	width: 100%;
}

#rendered-text article > *:first-child { margin-top: 0; }

#rendered-text article > *:last-child { margin-bottom: 0; }

::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}

textarea {
	background: var(--bg-color);
	border-color: var(--border-color);
	height: var(--textarea-height);
	white-space: pre-wrap;
}

textarea::-webkit-scrollbar, #rendered-text::-webkit-scrollbar { width: var(--scrollbar-size); }

textarea::-webkit-scrollbar-track, #rendered-text::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bg);
	border-radius: var(--pill-border-radius);
}

textarea::-webkit-scrollbar-thumb, #rendered-text::-webkit-scrollbar-thumb {
	background-color: var(--theme-color);
	border-radius: var(--pill-border-radius);
}

textarea:focus {
	border-color: var(--theme-color);
	outline: none;
}
