:host {
	align-items: center;
	app-region: inherit;
	-webkit-app-region: inherit;
	box-sizing: inherit;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

label {
	align-items: center;
	box-sizing: inherit;
	display: flex;
	margin: 0 var(--searchbox-margin);
	max-width: 20rem;
	position: relative;
	width: var(--searchbox-width);
}

input[type='search'] {
	app-region: no-drag;
	-webkit-app-region: no-drag;
	appearance: none;
	background: var(--bg-color);
	border: solid var(--size-1) var(--bg-color);
	border-radius: var(--radius-3);
	flex-grow: 1;
	font: inherit;
	height: 2rem;
	outline: none;
	padding: var(--size-1) var(--size-2);
	transition: var(--transition);
	width: 100%;
}

input[type='search']::-webkit-search-cancel-button { display: none; }

input:focus {
	border-bottom-color: var(--theme-color);
	border-color: var(--border-color);
	outline: none;
}

input::selection {
	background-color: var(--theme-color);
	color: var(--dark-bg-color);
}

#icon-container {
	align-self: stretch;
	position: relative;
}
