:host { box-sizing: inherit; }

:host([loaded]) #loader { display: none; }
:host(:not([loaded])) #content { display: none; }

#loader {
	animation: loader 2s linear infinite;
	background-color: var(--theme-color);
	background-image: linear-gradient(-60deg, var(--bg-color) 40%, transparent, var(--bg-color) 60%);
	background-position: 100%;
	background-size: 200% 100%;
	border-radius: var(--radius-3);
	color: transparent;
	max-width: 20rem;
	opacity: 0.2;
	user-select: none;
}

@keyframes loader {
	from { background-position: 100%; }

	to { background-position: -100%; }
}
