:host { display: block; }

dialog[open] {
	padding: 0;
	width: clamp(10rem, 40vw, 60rem);
	height: clamp(15rem, 30vh, 100rem);
	border: none;
	border-radius: 0.5rem;
	background: var(--bg-color);
	accent-color: var(--theme-color);

	pointer-events: none;
	user-select: none;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(0.3rem);
}

h1 {
	color: var(--theme-color);
}
