<template>
	<aside class="controller" id="left-controller">
		<button
			id="button-select"
			data-key="select"

			@pointerup="buttonUp"
			@pointerdown="buttonDown"
		>Select</button>
		<button
			id="button-start"
			data-key="start"

			@pointerup="buttonUp"
			@pointerdown="buttonDown"
		>Start</button>
		<div id="dpad"></div>
	</aside>
	<article id="game-wrapper">
		<div id="start-overlay">
			<button
				type="button"
				id="start-button"

				@click="loadGame"
			>▶️</button>
		</div>
		<div id="game-overlay">
			<button
				type="button"
				id="pause-button"

				@click="pause"
			>▶️</button>
		</div>
		<slot></slot>
	</article>
	<aside class="controller" id="right-controller">
		<button
			id="bumper-left"
			data-key="leftBumper"

			@pointerup="buttonUp"
			@pointerdown="buttonDown"
		>L</button>
		<button
			id="bumper-right"
			data-key="rightBumper"

			@pointerup="buttonUp"
			@pointerdown="buttonDown"
		>R</button>
		<button
			id="button-x"
			data-key="x"

			@pointerup="buttonUp"
			@pointerdown="buttonDown"
		>X</button>
		<button
			id="button-y"
			data-key="y"

			@pointerup="buttonUp"
			@pointerdown="buttonDown"
		>Y</button>
		<button
			id="button-a"
			data-key="a"

			@pointerup="buttonUp"
			@pointerdown="buttonDown"
		>A</button>
		<button
			id="button-b"
			data-key="b"

			@pointerup="buttonUp"
			@pointerdown="buttonDown"
		>B</button>
	</aside>
</template>
