<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/WebSite">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Epub Reader · <%= APP_NAME %></title>

		<!-- App Metadata -->
		<link rel="icon" href="/icons/favicon.svg" />
		<meta name="theme-color" content="<%= APP_THEME_COLOR %>">

		<!-- Social metadata -->
		<meta name="keywords" content="<%= APP_KEYWORDS %>" />

		<meta property="og:title" name="twitter:title" itemprop="name" content="<%= APP_NAME %>" />
		<meta property="og:description" name="description" itemprop="description" content="<%= APP_DESCRIPTION %>" />
		<meta property="og:image" name="twitter:image" itemprop="image" content="<%= APP_PUBLIC_URL %><%= APP_LARGE_ICON %>" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:url" content="<%= APP_PUBLIC_URL %>" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:dnt" content="on">

		<meta name="pinterest" content="nopin" description="Pintrest not allowed here!">

		<!-- Site configuration -->
		<meta name="referrer" content="no-referrer">
		<meta name="format-detection" content="telephone=no">
		<meta name="google" content="notranslate" />
		<link rel="license" href="%PUBLIC_URL%#copyright">

		<!-- Apple icons -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="apple-touch-icon" href="<%= APP_APPLE_ICON %>">

		<link rel="stylesheet" href="./css/base.css" />
		<link rel="stylesheet" href="./css/components/epub/reader.css" />
	</head>

	<body class="notranslate" translate="no">
		<sdr-epub-reader></sdr-epub-reader>

		<script src="./views/epub/reader.ts" type="module"></script>
	</body>

</html>
