:host { display: block; }

aside:not([hidden]) {
	align-items: center;
	background: var(--secondary-color);
	border: solid var(--size-1) var(--border-color);
	border-radius: var(--radius-3);
	bottom: 0.5rem;
	box-sizing: inherit;
	color: var(--text-color);
	display: flex;
	height: 3rem;
	justify-content: space-between;
	left: 1rem;
	padding: 0.5rem;
	position: absolute;
	right: 1rem;
	user-select: none;
}

p {
	overflow: hidden;
	text-overflow: ellipsis;
}
