#comic-book-overlay {
	accent-color: var(--theme-color);
	align-content: center;
	background: var(--dark-bg-color);
	color: var(--theme-color);
	display: none;
	height: 100%;
	place-items: center;
	width: 100%;
	z-index: 1;
}

:host(:not([loaded])) #comic-book-overlay { display: grid; }
:host(:not([loaded])) :is(.title-menu, #comic) { display: none; }

#comic {
	display: grid;
	gap: 1rem;
	grid-auto-flow: column;
	height: 100%;
	overflow: auto hidden;
	overscroll-behavior: contain;
	place-content: center start;
	place-items: center;
	scroll-behavior: smooth;
	scroll-snap-type: both mandatory;
	width: 100%;
}

img {
	height: 100%;
	object-fit: contain;
	scroll-snap-align: center;
	scroll-snap-stop: always;
	width: 100%;
}
