:host {
	background-color: var(--bg-color);

	border: solid var(--border-width) var(--border-color);
	border-radius: var(--border-radius);

	cursor: pointer;
	user-select: none;

	display: inline-grid;
	grid-template-columns: var(--thumbnail-width);
	grid-template-rows: var(--thumbnail-height) var(--card-title-height);
	justify-items: center;
	align-items: start;
	margin: var(--margin-block);

	width: var(--card-width);
	height: var(--card-height);

	overflow: hidden;
	contain: strict;
	content-visibility: auto;
	z-index: auto;

	box-shadow: var(--light-shadow);
}

:host(:focus) {
	outline: none;
	border-color: var(--theme-color);
	background-color: var(--accent-color);
}

:host([status]) figure::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

:host([status='missing']) figure::after {
	backdrop-filter: var(--thumb-missing-filter);
	background-image: var(--thumb-missing-image);
}

:host([status='outofscope']) figure::after {
	backdrop-filter: var(--thumb-outofscope-filter);
	background-image: var(--thumb-outofscope-image);
}

:host([status='canceled']) figure::after {
	backdrop-filter: var(--thumb-canceled-filter);
	background-image: var(--thumb-canceled-image);
}

figure {
	margin: 0;
	padding: var(--padding-inline);
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	box-sizing: border-box;
}

figure:focus {
	outline: none;
}

img {
	height: 100%;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	border-radius: calc(var(--border-radius) * 2);
	box-sizing: border-box;
	overflow: hidden;
}

h4 {
	align-self: center;
	padding: var(--padding-block) var(--padding-inline);
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
