:host {
	background-color: var(--bg-color);
	border: solid var(--border-width) var(--border-color);
	border-radius: var(--border-radius);
	box-shadow: var(--light-shadow);
	contain: strict;
	content-visibility: auto;
	cursor: pointer;
	display: inline-grid;
	grid-template-columns: var(--thumbnail-width);
	grid-template-rows: var(--thumbnail-height) var(--card-title-height);
	height: var(--card-height);
	margin: var(--margin-block);
	overflow: hidden;
	place-items: start center;
	user-select: none;
	width: var(--card-width);
	z-index: auto;
}

:host(:focus-within) {
	background-color: var(--accent-color);
	border-color: var(--theme-color);
	outline: none;
}

:host([status]) figure::after {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

:host([status='missing']) figure::after {
	backdrop-filter: var(--thumb-missing-filter);
	background-image: var(--thumb-missing-image);
}

:host([status='outofscope']) figure::after {
	backdrop-filter: var(--thumb-outofscope-filter);
	background-image: var(--thumb-outofscope-image);
}

:host([status='canceled']) figure::after {
	backdrop-filter: var(--thumb-canceled-filter);
	background-image: var(--thumb-canceled-image);
}

figure {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: var(--padding-inline);
	position: relative;
	text-align: center;
	width: 100%;
}

figure:focus { outline: none; }

img {
	border-radius: calc(var(--border-radius) * 2);
	box-sizing: border-box;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	overflow: hidden;
	width: auto;
}

h4 {
	align-self: center;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	margin: 0;
	overflow: hidden;
	padding: var(--padding-block) var(--padding-inline);
	text-align: center;
	text-overflow: ellipsis;
}
