<template>
	<aside class="controller" id="left-controller">
		<button id="button-select">Select</button>
		<button id="button-start">Start</button>
		<div id="dpad"></div>
	</aside>
	<article id="game-wrapper">
		<div id="start-overlay">
			<button type="button" id="start-button">▶️</button>
		</div>
		<div id="game-overlay">
			<button type="button" id="pause-button">▶️</button>
		</div>
		<slot></slot>
	</article>
	<aside class="controller" id="right-controller">
		<button id="bumper-left">L</button>
		<button id="bumper-right">R</button>
		<button id="button-x">X</button>
		<button id="button-y">Y</button>
		<button id="button-a">A</button>
		<button id="button-b">B</button>
	</aside>
</template>
